{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <h1>Загрузка файлов</h1>
    <br>
<a><img src="{{ url_for('static', filename='Program.png') }}" width="100%"></a>
<br>
<br>
{% if current_user.is_authenticated %}
<!--<a href="{{url_for('download_file')}}">Нажмите здесь для загрузки архива</a>-->
    <div class="flex">
        <h6>Внимание! Запускайте программу от имени Администратора</h6>
        <a href="{{url_for('download_file')}}" class="btn btn-info">Загрузить архив</a>
    </div>
{% else %}
        <h4>Загрузка доступна только авторизованным пользователям!</h4>
{% endif %}

{% endblock %}