{% extends "base.html" %}

{% block content %}
<br>
<br>
<h1>Об утилите</h1>
<br>
<h3>• После установки ОС Windows 10/11 настройки рассчитаны на среднестатистического пользователя. Каждый человек, который имеет отличительные требования к системе вынужден либо мириться, либо исправлять их в ручном режиме, дабы не потерять производительность вычислительной системы.</h3>
<br>
<h3>• На рынке существует множество утилит, которые имеют закрытый исходный код, а некоторые из них имеют вредоносный сценарий в своём алгоритме. В отличие от коммерческих программ, OfWP будет иметь открытый исходный код.</h3>


<br><br>
<h1>Новости и нововведения</h1>
{% for item in news%}
<br>
<div class="col-md6 border rounded">
    <b></b>
    <h2> {{item.title}}</h2>
    <br>
    <div>
         {{item.content}}
    </div>
    <div>
         Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>
{% endfor %}
{% endblock %}
